.menu {
  z-index: 100;
  list-style-type: none;
  position: fixed;
  display: flex;
  align-items: flex-end;
  top: 5vh;
  left: 100%;
  height: 80px;
  transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -webkit-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  animation: 1s normal forwards ease-in-out;
  animation-name: slide-left;
}
.menuProjectsLabel {
  position: absolute;
  display: flex;
  align-items: flex-end;
  left: 100%;
  height: 12vh;
  top: 71vh;
  transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -webkit-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  animation: 1s normal forwards ease-in-out;
  animation-name: slideout;
}

#navigation {
  height: 15vh;
  width: auto;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
}
a {
  text-decoration: none;
  color: var(--mainLightColor);
  padding: 10px;
  font-size: 0.8em;
}
.menuProjectsButton {
  top: 70vh;
  color: var(--mainLightColor);
  font-size: 0.8em;
}

.menuItem {
  transition: transform 0.2s;
}
.menuItem:hover {
  transform: scale(1.2);
  border-top: 1px solid rgba(255, 255, 255, 0.507);
}
/* reminder for me - remember add constants (colors etc.)*/
.naviBurgerDot {
  position: absolute;
  top: 81vh;
  cursor: pointer;
  will-change: transform;
  border: 1px solid var(--mainLightColor);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  left: 93vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);

  button {
    color: transparent;
    background-color: transparent;
  }
}

.naviBurgerDot:hover {
  .threeDots {
    transform: rotate(90deg);
  }
}
.threeDots {
  color: var(--mainLightColor);
}
.menuProjectsLabel span:last-child {
  display: none;
}
.projects {
  animation: 1s slide-out;
}
/* after activate*/
.active {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: var(--mainDarkColor);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 1s slide-up;

  .naviBurgerDot {
    top: 2em;
    background-color: white;
    color: black;
  }
  .threeDots {
    color: black;
    transform: rotate(90deg);
  }
  .threeDots:hover {
    transform: rotate(0deg);
  }

  .menu {
    transition-delay: 0.1s;
    animation: 1s slide-right;
  }
  .menuProjectsLabel span:last-child {
    display: flex;
    top: 9.8vh;
    left: -29em;
    position: absolute;
    transition: transform 800ms cubic-bezier(1, 0, 0.115, 0.995);
  }
  .menuProjectsLabel span:first-child {
    display: none;
  }
}

.slideOutMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  transition: transform 250ms ease-in-out;
  transition: all 0.3s;

  ul {
    list-style: none;
  }
}

.projectsNames {
  //  background-color:red;
  color: var(--mainLightColor);
}

.projectsNames li {
  transition: all 0.3s;
}
@keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }

  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}
@keyframes slide-left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes slide-right {
  from {
    margin-right: 100%;
  }
  to {
    margin-right: 0%;
  }
}


@keyframes slide-up {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 0%;
  }
}

@keyframes slide-out {
  from {
    margin-bottom: 100%;
  }

  to {
    margin-bottom: 0%;
  }
}
