img {
  height: 15vh;
  width: auto;
  margin: 15px 50px;
}

.aboutSection {
  color: #ffff;
  p {
    line-height: 1.3em;
    margin: 0;
    padding: 1em;
    font-size: 3.7vw;
    margin-left: 5em;
  }
}
