@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  background-color: var(--mainDarkColor);
  color: var(--mainLightColor);
  overflow: hidden;
  --mainDarkColor: rgb(19, 19, 19);
  --mainLightColor: rgb(235, 235, 235);

}
header {
  position: inherit
}

header :first-child {
  left: 20%
}
header :last-child {
  left: 70%
}
hr {
  border: 1px solid rgba(255, 255, 255, 0.151);
  height: 100vh;
  position: absolute;
  z-index: 10000;
}

.logo {
  height: 15vh;
  width: auto;
  margin: 15px 50px;
  animation: pop-up 3s forwards;
  position: absolute;
}

span {
  font-size: 12px;
}

@keyframes pop-up {
  0% {
    transform: scale(0) translateY(-10px);
    opacity: 0;
  }

  80% {
    transform: scale(1.2) translateY(-2px);
    opacity: 1;
  }

  100% {
    transform: scale(1) translateY(0px);
    opacity: 2;
  }
}
